<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>
</head>

<body>
    <h1>Tervetuloa Projektiin 2</h1>
    <p>
    <h3>
        <%= heading %>
    </h3>
    <div style="padding: 20px; border: solid black 1px;">
        <h5>
            <%= subheading %>
        </h5>
        <ul class="list-unstyled">
            <% for (var i=0; i < target.length; i++){ %>
                <li>
                    <%= target[i] %>
                </li>
                <% } %>
        </ul>
    </div>
    <ul class="list-group list-group-numbered">
        <% for (var i=0; i < tasks.length; i++){ %>
            <li class="list-group-item">
                <%= tasks[i] %>
            </li>
            <% } %>
    </ul>
    </p>

    <a class="btn btn-secondary btn-lg btn-block" href="/users">Try Me! Formatted table</a>
    <a class="btn btn-secondary btn-lg btn-block" href="/api">Try Me! API call</a>

    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>

</html>